<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Let The Coin Decide</title>
    <link rel="icon" href="static/images/flip.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/static/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <main class="landing">
        <section class="landing-heading">
          <h1>Welcome to Let the Coin Decide</h1>
          <p>A website that takes the decision making out of making decisions and leaves it up to chance.</p>
        </section>

        <section class="landing-footer">
            <a href="/index"><button class="btn btn-dark choose-button">Get started</button></a>
            <hr>
            <p>A CS50 Final Project by Tom McEvoy, 2020</p>
        </section>
    </main>
  </body>
</html>
